.column {
    border: 3px solid black;
    float: left;
    width: 37%;
    height: 100vh;

}
.column2 {
    float: left;
    width: 60%;
    height: 100vh;
}
/*Clear floats after the columns */
.row:after{
    content: "";
    display: table;
    clear: both;
}
table{
    
    height: 100px;
    width: 100%;


}
th {
    border: 2px solid black;
    height: 70px;
}
tr,td{
    border: 2px solid black;
    height: 50px;

}